<a href="https://colab.research.google.com/github/shaliha223/python_activities/blob/main/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a program that greets a user by name. Ask for the user's name and print
a personalized message, such as "Welcome to Data Analytics, [Name]!"

In [ ]:
name=input("Enter you name")
print(f"Welcome to Data Analytics, {name}!")

Enter you nameShaliha
Welcome to Data Analytics, Shaliha!

Define a variable for your favorite snack. Print a fun sentence that includes this
variable, like "I love munching on [Snack] during meetings!"

In [ ]:
s="samosas"
print(s," are the snack that can steal your heart")

samosas  are the snack that can steal your heart

If your team completed 15 tasks in a week and plans to double that next week,
calculate and print how many tasks you expect to complete next week.

In [ ]:
tasks=15
print(f"{2*tasks} tasks are expected to be completed next week")

30 tasks are expected to be completed next week

Create two variables for income and expenses. Calculate and print your savings
for the month using the formula: Savings = Income - Expenses. Use realistic
numbers.

In [ ]:
a=int(input("Enter your income"))
b=int(input("Enter your expenses"))
s=a-b
print("your savings for this month is",s)

Enter your income12345
Enter your expenses9876
your savings for this month is 2469

Imagine you're organizing a movie night. Create variables for the number of
friends invited and the number of popcorn bags you need per friend. Calculate
the total number of popcorn bags needed.

In [ ]:
i=int(input("Enter the number of invited friends"))
p=int(input("Enter the number of popcorn bags you need per friend"))
print("total popcorn bags=",i*p)

Enter the number of invited friends8
Enter the number of popcorn bags you need per friend2
total popcorn bags= 16

Write a program that asks for a product rating (1-5) and checks if the rating is
above average (greater than 3). Print a message based on the rating

In [ ]:
r=float(input("Enter your rating of product 1-5"))
if r>3:
  print("the product is good")
else:
  print("the product is not good")

Enter your rating of product 1-53.6
the product is good

You sold 50 items last month, 75 items this month, and 100 items next month.
Write a program to calculate the average number of items sold over these three
months.

In [ ]:
a,b,c=50,75,100
avg=(a+b+c)/3
print("average number of items sold over these three years=",avg)

average number of items sold over these three years= 75.0

If you invest $500 with a return rate of 4% per year for 3 years, calculate and
print the total amount you will have using simple interest.

In [ ]:
p,i,t=500,4,3
amount=p+p*i*t/100
print("the total amount will have=",amount)

the total amount will have= 560.0

For a party, calculate how much cake you need if each guest (you have 10) eats
1 slice and each cake has 8 slices. Print how many cakes you need.

In [ ]:
guest,cake=10,8
a=guest//cake
if guest%cake>0:
  print("number of cakes need=",a+1)
else:
  print("number of cakes need=",a)

number of cakes need= 2

Write a program that analyzes a short text of your choice (like a company slogan)
and checks if it has more than 10 characters. Print a fun message based on this
check.

In [ ]:
t=input("Write a slogon ")
if len(t)>10:
  print("Wow, that's a long slogan! ")
else:
  print("Short and sweet!")

Write a slogon Innovate for a Better Tomorrow
Wow, that's a long slogan!

Imagine you have two products with sales figures: product_A_sales = 250
and product_B_sales = 300. Write a program to determine which product
sold more.

In [ ]:
product_A,product_B=250,300
if product_A>product_B:
  print(product_A," sales more")
else:
  print(product_B," sales more")

300  sales more

If a student received $750 out of a total of $1000 as a scholarship, calculate the
percentage of the scholarship and print a congratulatory message.

In [ ]:
s_amount=750
st_amount=1000
s_percentage=750*100/1000
print(f" congratulations, you got {s_percentage}% scholarship")

 congratulations, you got 75.0% scholarship

Create a variable named favorite_color and assign it your favorite color.
Print the variable

In [ ]:
favorite_color="green"
print(favorite_color)

green

Calculate the sum of two numbers, a = 10 and b = 20, and print the result.

In [ ]:
a,b=10,20
print(f"{a}+{b}={a+b}")

10+20=30

Create variables for the length and width of a rectangle. Calculate and print the
area

In [ ]:
a=float(input("enter the length of a rectangle:"))
b=float(input("enter the width of a rectangle:"))
print("area of the rectangle=",a*b)

enter the length of a rectangle:4.5
enter the width of a rectangle:5
area of the rectangle= 22.5

Write a program that checks if a number (e.g., num = 15) is even or odd.

In [ ]:
num=int(input("enter a number"))
if num%2!=0:
  print("odd number")
else:
  print("not odd")

enter a number53
odd number

Create a program that calculates the average of three numbers: 10, 20, and 30,
and prints the result.

In [ ]:
a,b,c=10,20,30
print("average=",(a+b+c)/3)

average= 20.0

Create a program that calculates the area of a circle with a radius of 7. Use the
formula: Area=π×r2\text{Area} = \pi \times r^2Area=π×r2.

In [ ]:
r=7
pi=3.14
area=pi*r**2
print(area)

153.86

 Write a program that checks if a given string text = "Python" has more than
6 characters.

In [ ]:
s='python'
if len(s)>6:
  print("it has more than 6 characters")
else:
  print("no more than 6 characters")

no more than 6 characters

Write a program that finds the maximum of two numbers, num1 = 15 and num2
= 25

In [ ]:
num1,num2=15,25
if num1>num2:
  print(f"{num1} is greater")
else:
  print(f"{num2} is greater")

25 is greater

Write a program that calculates the percentage of a student's marks. If the total
marks are 500 and the obtained marks are 400, print the percentage.

In [ ]:
total_mark=500
obtained_mark=400
perc=obtained_mark*100/total_mark
print("the percentage obtained=",perc)

the percentage obtained= 80.0

Write a Python program to check whether a given number is positive, negative, or
zero.

In [ ]:
a=int(input("enter the number:"))
if a==0:
  print("the given number is zero")
elif a>0:
  print("the given number is positive")
else:
  print("the given number is negative")

enter the number:-15
the given number is negative

Write a program that takes an integer as input and prints whether it is odd or even.

In [ ]:
num=int(input("enter a number"))
if num%2!=0:
  print("the given number is odd")
else:
  print("the given number is even")

enter a number66
the given number is even

Take a student's marks as input and print their grade based on the following:
▪ 90-100 → A
▪ 80-89 → B
▪ 70-79 → C
▪ 60-69 → D
▪ Below 60 → Fail

In [ ]:
mark=float(input("Enter your mark"))
if 90<=mark<=100:
  print("grade A")
elif 80<=mark<90:
  print("grade B")
elif 70<=mark<80:
  print("grade C")
elif 60<=mark<70:
  print("grade D")
else:
  print("Fail")

Enter your mark60.5
grade D

Write a program to check if a given year is a leap year or not.

In [ ]:
n=int(input("Enter year"))
if (n%4==0 and n%100!=0) or n%400==0:
  print("the given year is leap year")
else:
  print("its not a leap year")

Enter year2000
the given year is leap year

Take an integer input N and print all numbers from 1 to N using a for loop.

In [ ]:
N=int(input("Enter a number"))
l=[]
for i in range(1, N+1):
  l.append(i)
  i+=1
print(l)

Enter a number8
[1, 2, 3, 4, 5, 6, 7, 8]

o Write a program that takes an integer N as input and prints the sum of the first N
natural numbers.

In [ ]:
N=int(input("Enter a number"))
s=0
for i in range(1,N+1):
  s+=i
  i+=1
print("sum=",s)

Enter a number48
sum= 1176

Take a number as input and print its multiplication table up to 10.

In [ ]:
n=int(input("enter a number"))
for i in range(1,11):
  print(f"{n}*{i}={n*i}")

enter a number6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

Write a Python program to calculate the factorial of a given number using a loop

In [ ]:
n=int(input("enter a number"))
s=1
for i in range(1,n+1):
  s=s*i
print("factorial=",s)

enter a number3
factorial= 6

Take an integer input and print its reverse.

In [ ]:
n=int(input("enter a number"))
s=0
while n>0:
  r=n%10
  n=n//10
  s=s*10+r
print(s)

enter a number1234
4321

Write a program that takes a number and prints the count of its digits.

In [ ]:
n=int(input("Enter a number"))
digit_count=1
while n>0:
  n=n//10
  if n!=0:
    digit_count+=1
  else:
    print("digit count=",digit_count)

Enter a number12345
digit count= 5

Right-Angled Triangle Pattern-Take an integer N as input and print a right-angled triangle of stars.

In [ ]:
n=int(input("Enter a number"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

Enter a number5
*
**
***
****
*****

Number Pyramid Pattern:Write a program that takes an integer N and prints a pyramid pattern.

In [ ]:
n=int(input("Enter a number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  for k in range(i-1,0,-1):
    print(k,end="")
  print()

Enter a number:5
1
121
12321
1234321
123454321

Print the first 5 odd numbers using a loop and break statement

In [ ]:
n=int(input("Enter a number"))
a=0
for i in range(1,n+1):
  if i%2==1:
    a+=1
    print(i)
    if a==5:
      break

Enter a number20
1
3
5
7
9

Print numbers from 1 to 20 but skip the ones that are multiples of 3.

In [ ]:
for i in range(1,21):
  if i%3==0:
    continue
  else:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

Write a program where pass is used in an if condition, but the loop continues
execution

In [ ]:
for i in range(1, 6):
    if i == 3:
        pass
    print(i)

1
2
3
4
5

Print the first N terms of the Fibonacci sequence.

In [ ]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1
print("Fibonacci sequence:")
for i in range(n):
    print(a)
    a, b = b, a + b

Enter the number of terms: 5
Fibonacci sequence:
0
1
1
2
3

Write a program to calculate the sum of the digits of a given number.

In [ ]:
N=int(input("Enter a number"))
s=0
while N>0:
  r=N%10
  s+=r
  N=N//10
print(s)

Enter a number1234
10

Write a program to check if a given number is prime.

In [ ]:
N=int(input("Enter a number"))
for i in range(2,N):
  if N%i==0:
    print("The given number is not a prime number")
    break
else:
  print("the given number is prime number")

Enter a number9
The given number is not a prime number

Check if a given number is an Armstrong number (e.g., 153 → 1³ + 5³ + 3³ = 153).

In [ ]:
""" finding armstrong number
  using user input"""
n=input("enter a number")
p=len(n)#power is selected according to the length of input
t=0
n1=int(n)
n2=n1
while n1>0:
  r=n1%10
  n1=n1//10
  t=t+r**p
if t==n2:
  print("the given number is armstrong")
else:
  print("not armstrong")

enter a number153
the given number is armstrong

Take a string as input and print it in reverse order using a loop.

In [ ]:
text = input("Enter a string: ")
reversed_text = ""

for char in text:
    reversed_text = char + reversed_text

print("Reversed string:", reversed_text)

Enter a string: python
Reversed string: nohtyp

Write a Python Program to accept the details of a student like name, roll
number and mark and display it.

In [ ]:
name=input("Enter name")
roll_no=int(input("Enter roll number"))
mark=int(input("Enter your mark"))
print(f"name:{name}\n roll number:{roll_no}\n mark:{mark}")

Enter nameShaliha
Enter roll number19
Enter your mark77
name:Shaliha
 roll number:19
 mark:77

Write a Python program to get the largest number from a list.

In [ ]:
l=[12,3,47,9]
a=l[0]
for i in l:
  if a<i:
    a=i
print("the largest number=",a)

the largest number= 47

Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.

In [ ]:
for i in range(1,11):
  print(f"current number:{i}, previous number {i-1}, sum {2*i-1}  ")

current number:1, previous number 0, sum 1
current number:2, previous number 1, sum 3
current number:3, previous number 2, sum 5
current number:4, previous number 3, sum 7
current number:5, previous number 4, sum 9
current number:6, previous number 5, sum 11
current number:7, previous number 6, sum 13
current number:8, previous number 7, sum 15
current number:9, previous number 8, sum 17
current number:10, previous number 9, sum 19

Write a Python program to print only those numbers which are divisible of 5.

In [ ]:
l=[10,23,55,34,67,90,30,35]
for i in l:
  if i%5==0:
    print(i)

10
55
90
30
35

Write a Python program to reverse a list using for loop.

In [ ]:
l=[10,20,30,40,34]
a=[]
for i in range(len(l)-1,-1,-1):
  a.append(l[i])
print(a)

[34, 40, 30, 20, 10]

Write a Python program to find the maximum of three numbers

In [ ]:
a,b,c=10,34,67
if a<=b:
  if b<=c:
    print("the max. number of 10,34,67 is",c)
  else:
    print("the max. number of 10,34,67  is",b)
else:
  if a<=c:
    print("the max number of 10,34,67  is",c)
  else:
    print("the max number of 10,34,67  is",a)

the max. number of 10,34,67 is 67

Write a Python program to construct the following pattern, using a nested for loop.

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end="")
  print()
for k in range(4,0,-1):
  for m in range(1,k+1):
    print("*",end="")
  print()

*
**
***
****
*****
****
***
**
*

Python best practice Question answers

Error handling and validation

In [ ]:
#challenge 1

def check_voting_age(age):
  if age >= 18:
    return "You are eligible to vote"
  else:
    return "you are not eligible to vote"

print(f"Testing with age 25:{check_voting_age(25)}")
print(f"Testing with age 16:{check_voting_age(16)}")

Testing with age 25:You are eligible to vote
Testing with age 16:you are not eligible to vote

In [ ]:
#challenge 2

def calculate_division(numerator_str,denominator_str):

  try:
    numerator = int(numerator_str)
    denominator = int(denominator_str)
    return numerator / denominator

  except ValueError:
    return "Error: Cannot divide by zero"

  except ZeroDivisionError:
    return "Error: Cannot divide by zero"

print(f"10/2= {calculate_division('10','2')}")
print(f"10/0= {calculate_division('10','0')}")
print(f"10/0= {calculate_division('10','0')}")

10/2= 5.0
10/0= Error: Cannot divide by zero
10/0= Error: Cannot divide by zero

In [ ]:
#challenge 3

def process_data(data_list, index):

  try:
    value = data_list[index]

  except IndexError:
    print("Error: Index out of bounds")

  else:
    print("Access succssful")

  finally:
    print("processing complete")

process_data([10,20,30],1)
process_data([10,20,30],5)

Access succssful
processing complete
Error: Index out of bounds
processing complete

Functions and DRY principle

In [ ]:
#Refer and simplify

def check_even_odd(num):
  return "Even" if num % 2 == 0 else "odd"

print(check_even_odd(5))

odd

In [ ]:
#3 Remove repetition with a function

def rectangle_area(length, width):
  print(f"Area of rectangle: {length * width}")

rectangle_area(5,10)
rectangle_area(3,8)
rectangle_area(6,4)

Area of rectangle: 50
Area of rectangle: 24
Area of rectangle: 24

pep8

In [ ]:
def addTwoNumbers(a, b):
  return a + b

def SubtractTwoNumbers(a, b):
  return a - b


def multiplyTwoNumbers(a, b):
  return a * b

def divideTwoNumers(a, b):

  if b!=0:
      return a / b

  else:
    return None

result1 = addTwoNumbers(5, 3)
result2 = SubtractTwoNumbers(10, 4)
result3 = multiplyTwoNumbers(2, 8)
result4 = divideTwoNumers(10, 2)

print("Addition result:",result1)
print("Subtraction result:",result2)
print("Multiplication result:",result3)
print("Division result:",result4)

Addition result: 8
Subtraction result: 6
Multiplication result: 16
Division result: 5.0